* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
}

ul,
ol {
  list-style-type: none;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}
